* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: url(./sekiro_stealth.0.jpg);
    background-size: cover;
    position: relative;
    background-attachment: fixed;

}

header {
    display: grid;
    grid-auto-flow: column;
    place-items: center;
}



main {
    color: white;
    width: 80%;
    padding: 1.5rem;
    margin: auto;
    margin-top: 1.5rem;
    background-color: rgba(7, 3, 3, 0.553);
}


main a {
    text-decoration: none;
    color: white;
}

main p {
    font-size: 14px;
    line-height: 2;
}

.centered {
    text-align: center;
}

.right {
    text-align: right;
}

.left {
    text-align: left;
}

.fifty-fifty {
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 10px 180px;
}

.second-right {
    text-align: right;
}
.second-left {
    text-align: left;
}

.Second-fifty-fifty {
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 10px 180px;
}

.rightHeader{
 display: grid;
 grid-template-columns: 50% 50%;
 grid-template-rows: 25% 25% 25% 25%;
 grid-column: 4/6;    
}

